<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%='hello'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error excepturi earum recusandae magnam accusamus vitae in inventore dignissimos aut ipsa doloribus dolorum officiis enim, nostrum voluptate tempora possimus libero aperiam.
    Corporis laborum, perferendis ab doloribus veritatis iste nulla earum eligendi, libero pariatur fuga laboriosam eaque. Delectus ut eius vel cupiditate velit non, voluptatibus, eum commodi vero, enim sint excepturi voluptatum.
    Consectetur velit deserunt consequuntur minus temporibus dolorem, inventore delectus, laboriosam necessitatibus assumenda cum tempora perferendis, labore officiis sint suscipit enim illo facilis nemo obcaecati quasi aperiam voluptatibus itaque dolorum. Veniam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error excepturi earum recusandae magnam accusamus vitae in inventore dignissimos aut ipsa doloribus dolorum officiis enim, nostrum voluptate tempora possimus libero aperiam.
    Corporis laborum, perferendis ab doloribus veritatis iste nulla earum eligendi, libero pariatur fuga laboriosam eaque. Delectus ut eius vel cupiditate velit non, voluptatibus, eum commodi vero, enim sint excepturi voluptatum.
    Consectetur velit deserunt consequuntur minus temporibus dolorem, inventore delectus, laboriosam necessitatibus assumenda cum tempora perferendis, labore officiis sint suscipit enim illo facilis nemo obcaecati quasi aperiam voluptatibus itaque dolorum. Veniam.</p>
    
</body>
</html>